
.idea/.idea.DebugPlugin/.idea/.name
.idea/.idea.DebugPlugin/.idea/contentModel.xml
.idea/.idea.DebugPlugin/.idea/encodings.xml
.idea/.idea.DebugPlugin/.idea/indexLayout.xml
.idea/.idea.DebugPlugin/.idea/misc.xml
.idea/.idea.DebugPlugin/.idea/modules.xml
.idea/.idea.DebugPlugin/.idea/workspace.xml
.idea/.idea.DebugPlugin/riderModule.iml
.vs/DebugPlugin/v15/.suo
.vs/DebugPlugin/v15/Server/sqlite3/db.lock
.vs/DebugPlugin/v15/Server/sqlite3/storage.ide
.vs/DebugPlugin/v15/Server/sqlite3/storage.ide-shm
.vs/DebugPlugin/v15/Server/sqlite3/storage.ide-wal
.idea/.idea.DebugPlugin/.idea/vcs.xml
